body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 72px;
}

h1 {
    text-align: center;
    padding-top: .5em;
}

h2 {
    color: #1976D2;
    font-family: Georgia, serif;
}

nav {
    font-weight: bold;
    text-align: center;
    padding: .5em .5em .5em;

}

nav a {
    text-decoration: none;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    text-align: center;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
}

#wrapper {
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px #1E1E1E;
}

#homehero {
    background: url(coast.jpg) no-repeat;
    background-size: 100% 100%;
    height: 300px;

}

#yurthero {
    background: url(yurt.jpg) no-repeat;
    background-size: 100% 100%;
    height: 300px;

}

#trailhero {
    background: url(trail.jpg) no-repeat;
    background-size: 100% 100%;
    height: 300px;
}