body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
}

h1 {
    line-height: 200%;
}

h2 {
    color: #1976D2;
    font-family: Georgia, serif;
}

nav {
    font-weight: bold;
    background-color: #BBDEFB;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    text-align: center;
    font-size: .70em;
    font-style: italic;
}